<h1> <%= @artist.name %></h1>

<%= link_to "Edit", edit_artist_path(@artist) %>
<%= link_to "Songs", artist_songs_path(@artist) %>
<%= link_to "Delete Artist", artist_path(@artist), method: :delete %>
<%= link_to "Back to all Artists", artists_path %>
