<h1><%= @song.id ? 'Edit Song' : 'Add new Song to Catalogue' %></h1>
<%= link_to "back to artist page", artist_songs_path %>
<hr/>
<%= form_for [@artist, @song] do |f| %>
  <%= f.label "Song Name:"%>
  <%= f.text_field :name, required: true, autofocus: true %>
<br/>
  <%= f.label "Song Description" %>
  <%= f.text_area :body, required: true %>
  <%= f.submit %>
<% end %>
