<!DOCTYPE html>
<html>
  <head>
    <title>Boards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path, class: "active item"%>
    <%= link_to "Billboards", billboards_path, class: "item"%>
    <%= link_to "Artists", artists_path, class: "item"%>
    <%= yield %>
  </body>
</html>
